@import 'variant.less';
@import '../font/font.less';

/**
 * global
 */
 body {
  font-family: "Quicksand";
  background-color: @ui-bg-color;
  margin: 0;
  height: 100%;
  width: 100%;
}

html, #root {
  height: 100%;
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-vertical-center {
  display: flex;
  align-items: center;
}

.flex-horizontal-center {
  display: flex;
  justify-content: center;
}